@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

:root {
  --primary-blue: #0052CC;
  --light-gray: #eef3ff;
  --sidebar-width: 240px;
  --sidebar-color: #fff;
  --nav-link-color: #272727;
  --nav-link-hover: #4379F2;
  --nav-link-text-color-hover: #fff;
}

body {
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--light-gray);

}

/* logo */

.logo {
  position: relative;
  font-family: 'Lexend Deca', sans-serif;
  text-decoration: none;
  display: flex;
  align-items: baseline;
  /* Cambiado de center a baseline */
}

.e-letter {
  font-size: 6rem;
  font-weight: 700;
  color: #0052CC;
  line-height: 1;
  margin-right: 0.05em;
  position: relative;
  transition: all 0.3s ease;
}

.e-letter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,
      transparent 45%,
      rgba(255, 255, 255, 0.5) 50%,
      transparent 55%);
  background-size: 200% 200%;
  animation: shine 3s infinite;
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.dot {
  font-size: 4.5rem;
  color: #0052CC;
  line-height: 1;
  margin-right: 0.1em;
  margin-left: -0.1em;
}

.design-text {
  font-size: 3rem;
  color: #1A1A1A;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.02em;
}

.logo:hover .e-letter {
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .e-letter {
    font-size: 7rem;
  }

  .dot,
  .design-text {
    font-size: 3.5rem;
  }
}

@media (max-width: 480px) {
  .e-letter {
    font-size: 5rem;
  }

  .dot,
  .design-text {
    font-size: 2.5rem;
  }
}

.logo-text {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 1.5rem;
}

/* end Logo */